<h1>Heildaryfirlit húsnæðisláns</h1>
<app-loan-overview-details></app-loan-overview-details>
<h1>Mánaðarlegar greiðslur</h1>
<app-loan-overview-monthly-payments></app-loan-overview-monthly-payments>
<h1>Upphæð mánaðarlegra afborgana</h1>
<app-loan-overview-payment-chart></app-loan-overview-payment-chart>
<h1>Vaxtagreiðslur</h1>
<app-loan-overview-interest></app-loan-overview-interest>
<h1>Verðbætur</h1>
<app-loan-overview-indexation></app-loan-overview-indexation>
<h1>Heildarkostnaður</h1>
<app-loan-overview-total-cost></app-loan-overview-total-cost>
<h1>Samanburður á kjörum lána</h1>
<app-loan-overview-comparison></app-loan-overview-comparison>
<div>
  <p>Go to a different step to see the error state</p>
  <button mat-raised-button color="primary" matStepperPrevious>Fara tilbaka</button>
  <button mat-raised-button color="primary" matStepperNext>Næsta síða</button>
</div>
